---
import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>

<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. All Rights Reserved. /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a>
        <br>
        Powered by
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build/themes/details/asterris/">Astro</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/yCENzh/Fuwari-yCENzh">Fuwari</a>
        <br />
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://icp.gov.moe/?keyword=20251413">萌ICP备20251413号</a>
        <br />
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://www.travellings.cn/train.html">开往新世界-Travelling</a>
    </div>
</div>

<style>
  .transition {
    transition: all 0.3s ease;
  }
  
  .link {
    text-decoration: none;
    position: relative;
    padding: 0 0.25rem;
  }
  
  .link:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 0.25rem;
  }

  @media (prefers-color-scheme: dark) {
    .text-50 {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  @media (max-width: 768px) {
    .mx-32 {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    
    .px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    
    .text-sm {
      font-size: 0.8125rem;
    }
  }
</style>
